@media(max-width:450px){

   
    
    
    
    header{
        
        height: 150px;
        padding: 10px 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
   
    header nav{
        
        gap: 10px;
       
       
    }
    
    header nav a{
       font-size: 10px;
    }
    
   
    main{
        padding: 30px 20px;
        height: calc(100vh - 180px);
    }
    
    
    main section{
        width: 70%;
       
    }
    
    main section h1{
        font-size: 25px;
       
    }
    
    main section h1 b{
        color: red;
    }
    
    
  

}
